{% extends 'layouts.html' %}

{% block content %}




<div class="row text-center">
    <div class="col">
        <h2>Pagina em construção</h2>
        <div class="col py-2 " id="register">
            <div class="text-center p-3 ">
                {% include '_messages.html' %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
   
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <h3 class="card-title text-center">Sugestão</h3><hr>
              {% from '_formhelpers.html' import render_field %}    
              <form method="POST" enctype="multipart/form-data">
                  <div class="row">
                      <div class="col">
                          {{ render_field(form.nome, class=' form-control', placeholder='')}}
                          {{ render_field(form.bloco, class=' form-control', placeholder='')}}
                          {{ render_field(form.apto, class=' form-control', placeholder='')}}
                          {{ render_field(form.descricao, class=' form-control', placeholder='')}}
                         
                      </div>
                      
                  </div>
                  <button type="submit" class="w-100 btn btn-primary my-3 rounded">Enviar sugestão</button>
                  
              </form>
            </div>
          </div>
        </div>
    
       
      </div>
</div>

{% endblock content %}